@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Somatic;
    src: url(fonts/Somatic-Rounded.otf);
}

*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

input:focus { outline: none; }
button:focus { outline: none; }

/* APP */

#container {
	width: 1024px;
	height: 640px;
	background-color: #f5f5f5;
}

.left {
	float: left;
	width: 245px;
	height: 640px;
	background-color: white;
	border-right: 1.4px solid #dfdfdf;
}

.level {
	width: 245px;
	height: 240px;
	text-align: center;
}

.level h2 {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #d5d5d5;
	letter-spacing: 1.6px;
	margin-left: 40px;
	margin-top: 35px;
	text-align: left;
}

.circle {
	width: 124px;
	height: 124px;
	background: none;
	border: 7px solid #dfdfdf;
	border-radius: 50%;
	margin: 0 auto;
	margin-top: 15px;
	text-align: center;
}

.circle h3 {
	line-height: 123px;
	font-family: Roboto-Bold;
	font-size: 36px;
	color: #6a6969;
}

.level h4 {
	font-size: 12px;
	font-family: Roboto-Light;
	color: #b2b2b2;
	letter-spacing: 3.5px;
	margin-top: 20px;
}

.nav {
	width: 245px;
	height: 280px;
	margin-top: 30px;
}

.nav h2 {
	font-family: Roboto-Bold;
	font-size: 10px;
	color: #d5d5d5;
	letter-spacing: 1.6px;
	margin-left: 40px;
	text-align: left;
}

#active {
	background-color: #f5f5f5;
	width: 243px;
	border-right: 2px solid #2ecc71;
}
#active img { opacity: .8;}
#active h4 { color: #6a6969; font-family: Roboto-Bold; }

.non-active {
	margin-top: 7px;
}

.non-active:hover img{
	margin-left: 55px;
	transition: .2s;
}

.field {
	width: 245px;
	height: 56px;
	cursor: pointer;
}

.first {
	margin-top: 26px;
}

.field img {
	transition: .2s;
	width: 24px;
	height: 24px;
	margin-top: 16px;
	margin-left: 40px;
	vertical-align: middle;
	display: inline-block;
	opacity: .4;
}

.field h4 {
	font-size: 11px;
	font-family: Roboto-Light;
	color: #c1c1c1;
	margin-top: 16px;
	margin-left: 12px;
	vertical-align: middle;
	display: inline-block;
	letter-spacing: 1.4px;
}

.right {
	float: right;
	width: 777px;
	height: 640px;	
	overflow-x: hidden;
	overflow-y: scroll;

}

*::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 10px;
    border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #ccd2d6;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: #ccd2d6; 
}

.header {
	width: 777px;
	height: 55px;
	background: white;
	float: left;
	border-bottom: 1.4px solid #dfdfdf;
	position: fixed;
}

.current-name {
	width: 140px;
	height: 55px;
	float: left;
}

.used-h {
	font-size: 11px;
	font-family: Roboto-Regular;
	color: #e0e0e0;
	line-height: 55px;
	margin-left: 20px;
	letter-spacing: 1.4px;
}

.first-h {
	color: #c1c1c1;
}

.user {
	width: 250px;
	height: 55px;
	float: right;
}

#image-holder {
	width: 32px;
	height: 32px;
	border: 1px solid #2ecc71;
	border-radius: 50%;
	vertical-align: middle;
	display: inline-block;
	margin-left: 45px;
	margin-top: 9.5px;
	background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.info {
	width: 160px;
	height: 55px;
	float: right;
}

.user h2 {
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #6b6b6b;
	letter-spacing: 1.2px;
	vertical-align: middle;
	display: inline-block;	
	margin-top: 15px;
}

.user p {
	font-family: Roboto-Bold;
	font-size: 9px;
	color: #2ecc71;
	letter-spacing: 1.1px;
	vertical-align: middle;
	display: inline-block;
}

.arrow {
	width: 17px;
	height: 12px;
	float: right;
	margin-right: 30px;
	opacity: .6;
	cursor: pointer;
	margin-top: -5px;
}

.content {
	width: 777px;
	height: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 60px;
}

.classes {
	width: 680px;
	height: 320px;
	border: 1.4px solid #dfdfdf;
	background: white;
	margin-top: 20px;
	margin-left: 20px;
}

.blog {
	width: 240px;
	height: 384px;
	border: 1.4px solid #dfdfdf;
	background: white;
	margin-top: 20px;
	margin-left: 20px;
	margin-bottom: 30px;
	vertical-align: middle;
	display: inline-block;
}

.task {
	width: 240px;
	height: 384px;
	border: 1.4px solid #dfdfdf;
	background: white;
	margin-left: 20px;
	margin-bottom: 30px;
	vertical-align: middle;
	display: inline-block;
	margin-top: 21px;
}

.classes h3 {
	letter-spacing: 2px;
	font-size: 10px;
	color: #d1d1d1;
}

.card {
	width: 180px;
	height: 240px;
	margin-left: 40px;
	display: inline-block;
	vertical-align: middle;
	float: left;
	text-align: center;
}

.card img {
	width: 64px;
	height: 64px;
}

.card h2 {
	color: #474747;
	font-family: Roboto-Bold;
	font-size: 16px;
	letter-spacing: 1.5px;
	margin-top: 15px;
}

.card h3 {
	color: #d4d4d4;
	font-family: Roboto-Light;
	font-size: 11px;
	letter-spacing: 1.6px;
}

.h-fix {
	margin-top: 18px;
}

.card button {
	transition: .4s;
	margin-top: 28px;
	width: 121px;
	height: 38px;
	background-color: #2ecc71;
	border-radius: 25px;
	border: none;
	font-family: Roboto-Bold;
	font-size: 10px;
	letter-spacing: 1.4px;
	color: white;
	cursor: pointer;
}

.sec {
	margin-left: 28px;
}

.sec button {
	transition: .4s;
	background: none;
	border: 2px solid #2ecc71;
	color: #2ecc71;
}

.fis button:hover {
	transition: .4s;
	background: none;
	border: 2px solid #2ecc71;
	color: #2ecc71;
}

.sec button:hover {
	transition: .4s;
	border: none;
	background: #2ecc71;
	color: white;
}

.blog img {
	text-align: center;
}

.blog h2 {
	color: #656565;
	font-family: Roboto-Bold;
	font-size: 12px;
	letter-spacing: 1.7px;
	margin-top: 20px;
	margin-left: 20px;
}

.blog p {
	font-family: Roboto-Regular;
	color: #b6b6b6;
	font-size: 11px;
	letter-spacing: 1.5px;
	margin-left: 20px;
	margin-top: 15px;
	line-height: 220%;
}

.blog h2:last-child {
	text-align: right;
	margin-right: 20px;
	cursor: pointer;
}

.blog h2:last-child:hover {
	opacity: .6;
}

.sec-blog {
	margin-left: 17px;
}