#container {
	width: 1024px;
	height: 640px;
	background-color: #f5f5f5;
}

.right {
	float: right;
	width: 777px;
	height: 640px;	
	overflow-x: hidden;
	overflow-y: scroll;

}

.content {
	width: 777px;
	height: 800px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin-top: 60px;
}

.test-box {
	width: 660px;
	height: 710px;
	margin-left: 24px;
	margin-top: 20px;
}

.text-box-header {
	width: 660px;
	height: 90px;
	border-bottom: 1px solid #e7e7e7;
}

.col-box {
	display: inline-block;
	vertical-align: middle;
}

.text-col-1 {
	width: 95px;
	height: 90px;
	text-align: center;
}

.text-col-1 img {
	width: 32px;
	height: 32px;
	margin-top: 29px;
}

.small {
	font-family: Roboto-Bold;
	color: #c0c0c0;
	font-size: 9px;
	letter-spacing: 1.8px;
	padding-top: 29px;
}

.big {
	font-family: Roboto-Regular;
	color: #615f5f;
	font-size: 18px;
	letter-spacing: 2.3px;
}

.text-col-2 {
	width: 114px;
	height: 90px;
}

.text-col-3 {
	width: 315px;
	height: 90px;
}

.text-desc {
	color: #b2b2b2;
	font-family: Roboto-Regular;
	letter-spacing: 1.5px;
	font-size: 11px;
	line-height: 220%;
	padding-top: 20px;
}

.task-box {
	width: 660px;
	height: 135px;
	border-bottom: 1px solid #e7e7e7;
}

.task-number {
	width: 105px;
	height: 135px;
	text-align: center;
	display: inline-block;
	vertical-align: middle;	
}

.task-number-tag {
	font-family: Roboto-Thin;
	font-size: 70px;
	color: #dddddd;
	line-height: 130px;
}

.task-content {
	width: 550px;
	height: 135px;
	display: inline-block;
	vertical-align: middle;
}

.task-content h3 {
	color: #4f4f4f;
	font-size: 14px;
	letter-spacing: 1.4px;
	font-family: Roboto-Regular;
	margin-top: 35px;
}

.task-input {
	border: none;
	border-bottom: 2px solid #e7e7e7;
	margin-top: 15px;
	padding-bottom: 5px;
	text-indent: 5px;
	font-weight: bold;
	letter-spacing: 1.2px;
	font-size: 12.5px;
}

.task-input::-webkit-input-placeholder {
	text-indent: 5px;
	font-family: Roboto-Regular;
	font-size: 11px;
	color: #a9a9a9;
	letter-spacing: 1.2px;
	font-weight: normal;
}

.button-holder {
	width: 660px;
	height: 75px;
	text-align: center;
}

#predaj {
	transition: .3s;
	width: 124px;
	height: 34px;
	border: none;
	background-color: #2ecc71;
	color: white;
	border-radius: 25px;
	margin: 0 auto;
	margin-top: 19px;
	font-family: Roboto-Bold;
	font-size: 9px;
	letter-spacing: 1.4px;
}

#predaj:hover {
	transition: .3s;
	color: #2ecc71;
	background: none;
	border: 1px solid #2ecc71;
	cursor: pointer;
}

#modal {
    position: absolute;
    left: 245px;
    top: -400px;
    width: 777px;
    height: 55px;
    -webkit-box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    background-color: white;
   	z-index: 100; 
}

#modal p {
    vertical-align: middle;display: inline-block;
    line-height: 58px;
    font-size: 14px;
}

#modal p:nth-child(1) {
    margin-left: 40px;
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #e74c3c;
}

#modal p:nth-child(2) {
    margin-left: 5px;
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #bdc3c7;
    letter-spacing: .7px;
}

#modal img {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 17.5px;
    margin-right: 40px;
    opacity: .5;
    cursor: pointer;
}