@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Somatic;
    src: url(fonts/Somatic-Rounded.otf);
}

*{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    overflow-y: hidden;
}

a {
    text-decoration: none;
}

ul, li {
    list-style-type: none;
}

input:focus { outline: none; }

/* APP */

#container {
    width: 1024px;
    height: 640px;
    background-color: #f5f5f5;
}

.left {
    float: left;
    width: 160px;
    height: 640px;
    background-color: white;
}

.right {
    float: right;
    width: 864px;
    height: 640px;
}

.title {
    width: 160px;
    height: 145px;
}

.title p:nth-child(1) {
    font-family: Roboto-Bold;
    font-size: 11px;
    color: #898484;
    letter-spacing: 1.5px;
    line-height: 160%;
    margin-left: 32px;
    margin-top: 34px;
}

.title p:nth-child(2) {
    font-family: Roboto-Bold;
    font-size: 10px;
    color: #cfcfcf;
    letter-spacing: 2px;
    margin-left: 32px;
    margin-top: 50px;
}

.fix {
    margin-top: 30px;
}

#active {
    opacity: 1;
    width: 158px;
    border-right: 2px solid #5abd78;
    background-color: #f6f6f6;
}

#active img {
    opacity: .8;
}

#active p {
    font-family: Roboto-Regular;
    font-weight: bold;
    color: #313131;
}

.nav-box {
    width: 160px;
    height: 119px;
    text-align: center;
    opacity: .7;
    cursor: pointer;
}

.nav-box img {
    width: 32px;
    height: 32px;
    opacity: .5;
    margin-top: 25px;
}

.nav-box p {
    font-family: Roboto-Regular;
    letter-spacing: 1.7px;
    font-size: 11px;
    color: #868686;
    margin-top: 15px;
}

.right p:nth-child(1) {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #767676;
    letter-spacing: 3.6px;
    margin-top: 87px;
    margin-left: 59px;
}

.right p:nth-child(2) {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #b2b2b2;
    letter-spacing: 2.3px;
    margin-left: 59px;
    margin-top: 20px;
}

.right p:nth-child(3) {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #9d9d9d;
    letter-spacing: 1.6px;
    margin-left: 59px;
    margin-top: 20px;
    line-height: 260%;
}

.form {
    width: 342px;
    height: 438px;
    border: 2px solid #eaeaea;
    float: left;
    margin-left: 50px;
    background-color: white;    
    margin-top: 30px;
}

.form-holder {
    width: 280px;
    height: 400px;
    margin: 0px auto;
    margin-top: 38px;
}


.field {
    width: 280px;
    height: 90px;
    float: left;
}

.field h2 {
    font-family: Roboto-Bold;
    font-size: 9px;
    color: #a6a6a6;
    letter-spacing: 1.6px;
}

.field input {
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 5px;
    background-color: #f9f9f9;
    border-bottom: 3px solid #f2f2f1;
    margin-top: 15px;
    text-indent: 14px;
    font-family: Roboto-Regular;
    letter-spacing: 1.2px;
    font-size: 11px;
}

.first-field {
    margin-top: 10px;
}

.second-field {
    margin-top: 20px;
}

.field input::-webkit-input-placeholder {
    font-family: Roboto-Light;
    font-size: 10px;
    letter-spacing: .9px;
    color: #b9b9b9;
}

#submit_login {
    width: 137px;
    height: 46px;
    background-color: #4fba6f;
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid #40985b;
    font-family: Roboto-Bold;
    font-size: 10px;
    letter-spacing: 1.7px;
    color: white;
    margin-top: 25px;
    cursor: pointer;
}

#submit_login:hover {
    transition: .4s;
    opacity: .8;
    border: none;
}

.image {
    width: 158px;
    height: 178px;
    border: 2px solid #eaeaea;
    float: left;
    margin-left: 30px;
    background-color: white;    
    margin-top: 30px;
    text-align: center;
    cursor: pointer;
}

.image img {
    width: 64px;
    height: 52px;
    margin-top: 40px;
    opacity: .5;
}

.text {
    background-color: #ededed;
    width: 158px;
    height: 45px;
    margin-top: 37px;
}

.text h3 {
    font-size: 10px;
    color: #8d8c8c;
    font-family: Roboto-Bold;
    letter-spacing: 1.6px;
    line-height: 48px;
}

#imger {
    position: absolute;
    top: 280px;
    left: 590px;
    width: 158px;
    height: 178px;
    opacity: 0;
    cursor: pointer;
}

#modal {
    position: absolute;
    left: 160px;
    top: -400px;
    width: 864px;
    height: 50px;
    -webkit-box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    -moz-box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    box-shadow: 0px 12px 33px -8px rgba(0,0,0,0.10);
    background-color: white;
}

#modal p {
    vertical-align: middle;display: inline-block;
    line-height: 48px;
    font-size: 14px;
}

#modal p:nth-child(1) {
    margin-left: 40px;
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #e74c3c;
}

#modal p:nth-child(2) {
    margin-left: 5px;
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #bdc3c7;
    letter-spacing: .7px;
}

#modal img {
    float: right;
    width: 20px;
    height: 20px;
    margin-top: 14px;
    margin-right: 40px;
    opacity: .5;
    cursor: pointer;
}