@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Somatic;
    src: url(fonts/Somatic-Rounded.otf);
}

*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

input:focus { outline: none; }
button:focus { outline: none; }

.box {
    background: white;
    border: 1px solid #dfdfdf;
}

#menu {
    width: 777px;
    height: 50px;
    background-color: white;
    border: 1px solid #d7d7d7;
    position: absolute; 
    top: 50px;
    left: 247px;
    display: none;
    border-left: none;
    border-right: none;
    z-index: 20;
}