@font-face {
    font-family: Roboto-Regular;
    src: url(fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: Roboto-Black;
    src: url(fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: Roboto-Light;
    src: url(fonts/Roboto-Light.ttf);
}

@font-face {
    font-family: Roboto-Thin;
    src: url(fonts/Roboto-Thin.ttf);
}

@font-face {
    font-family: Roboto-Bold;
    src: url(fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: Somatic;
    src: url(fonts/Somatic-Rounded.otf);
}

*{
	margin: 0px;
	padding: 0px;
	overflow-x: hidden;
	overflow-y: hidden;
}

a {
	text-decoration: none;
}

ul, li {
	list-style-type: none;
}

input:focus { outline: none; }
button:focus { outline: none; }

.box {
    background: white;
    border: 1px solid #dfdfdf;
}

#menu {
    width: 777px;
    height: 50px;
    background-color: white;
    border: 1px solid #d7d7d7;
    position: absolute; 
    top: 50px;
    left: 247px;
    display: none;
    border-left: none;
    border-right: none;
    z-index: 20;
}

#menu ul {
    width: 777px;
    height: 50px;
}

#menu li {
    width: 20%;
    height: 50px;
    display: inline-block;
    text-align: center;
}

#menu li:first-child {
    margin-left: 50px;
}

#menu li > h3 {
    line-height: 55px;
    font-family: Roboto-Regular;
    color: #bcbcbc;
    font-size: 11px;
    letter-spacing: 1.3px;
    cursor: pointer;
}

#menu li > h3:hover {
    opacity: .5;
}

.lesson-box {
    width: 660px;
    height: 515px;
    margin-left: 45px;
}

.lesson-title {
    color: #747474;
    font-size: 22px;
    font-family: Roboto-Bold;
    letter-spacing: 1.8px;
    margin-top: 38px;
}

.lesson-sub {
    color: #a9a9a9;
    font-family: Roboto-Light;
    font-size: 12px;
    letter-spacing: 1.4px;
    margin-top: 5px;
}

.lesson-hr {
    width: 42px;
    height: 2px;
    background-color: #d2d2d2;
    border: none;
    margin-top: 18px;
}

.l-mar {
    margin-left: 31px;
}
.lesson-text {
    font-family: Roboto-Regular;
    font-size: 12px;
    color: #9c9c9c;
    letter-spacing: 1.5px;
    line-height: 250%;
    margin-top: 18px;
}

.code-text {
    width: 419px;
    height: 29px;
    background-color: #ebebeb;
    margin-top: 30px;
}

.code-line {
    color: #9c9c9c;
    font-family: Roboto-Regular;
    font-size: 11px;
    letter-spacing: 1.5px;
    margin-left: 7px;
    margin-top: 8px;
}

.line-number {
    color: #c1c1c1;
}

.tag {
    color: #e74c3c;
    font-weight: bold;
    font-family: Roboto-Light;
}

.atr-class {
    font-family: Roboto-Light;
    font-weight: bold;
    color: #2ecc71;
}

.bolded {
    color: #5b5b5b;
}

.atr-text {
    font-family: Roboto-Light;
    font-weight: bold;
    color: #f1c40f;
}

.atr-title {
    font-family: Roboto-Bold;
    color: #595959;
}
